/* .container{
  display: flex;
  height: 100vh;
  flex-direction: column;
background-color: blue;
}
.map{
  background-color: red;
  flex: 1;
}
.actioncenter{
  flex: 1;
  background-color: greenyellow;
} */